numpy
scipy
scikit-learn
jupyter
matplotlib
pandas
h5py==2.10.0  # problem when loading pre-trained keras models with newer versions
pillow
scikit-image
lxml
tensorflow>=2.5.1
opencv-python
gast
setuptools>=41.0.0
