@import url(webfont-ubuntu-400-300-100.css);
@import url(webfont-ubuntu-mono-400-700-400italic.css);

body {
  font-family: 'Ubuntu';
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu';
  font-weight: 300;
  margin-top: 0;
}
h1 {
  margin-top: 0.5em;
}
h2 {
  font-size: 140%;
  line-height: 150%;
}
h3 {
  font-size: 120%;
  line-height: 140%;
}
h2, h3, h4, h5, h6 {
  font-weight: normal;
}


li {
  font-size: 120%;
  line-height: 160%;
}

li li {
  font-size: 100%;
  line-height: 160%;
}

p {
font-size: 120%;
  line-height: 140%;
}

.singleimg .middlebelowheader {
  text-align: center;
}

.singleimg img {
  max-width: 90%;
  max-height: 600px;
  /*border: 2px solid #ddd;*/
}
table {
  margin: 0 auto 0.8em;
  border-collapse: collapse;
}
td, th {
  border: 1px solid #ddd;
  padding: 0.3em 0.5em;
}

.bgheader h1 {
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 50%;
  padding: 0.5em;
  color: white;
  border-radius: .5em;
}
.middlebelowheader {
  /* This fixed size height was found to work well with the slide
     scaling mechanism of remark.js:
   */
  height: 500px;
  display: table-cell;
  vertical-align: middle;
}
.widespace h2 {
  line-height: 200%;
}
.big .remark-code  {
  font-size: 200%;
}
.remark-code, .remark-inline-code {
   font-family: 'Ubuntu Mono';
}

.medium .remark-code  {
  font-size: 120%;
}

.mmedium .remark-code  {
  font-size: 99%;
}

.affiliations img {
  height: 44px;
  margin: 2em;
}

.hidden {
  visibility: hidden;
}

.small {
  font-size: 90%;
}

.credits {
  font-style: italic;
  font-size: 70%;
}

.bunchoflogos img {
  max-height: 100px;
  padding: 1em;
}

.bunchoflogos p {
  text-align: center;
  width: 750px;
}

a:visited {
  color: blue;
}
